.container4 {
   max-width: 100%;
   margin: 0 auto;
   padding: 20px;
 }
 
 @media screen and (min-width: 768px) {
   .container4 {
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
   }
 }
 
 .checkout-form {
   background-color: #f9f9f9;
   padding: 20px;
   border-radius: 5px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
 }
 
 .heading {
   text-align: center;
   margin-bottom: 20px;
 }
 
 .display-order {
   margin-bottom: 20px;
 }
 
 .display-order span {
   display: block;
   margin-bottom: 5px;
 }
 
 .grand-total {
   font-weight: bold;
 }
 
 .flex {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
 }
 
 .inputBox {
   width: 100%;
   margin-bottom: 20px;
 }
 
 .inputBox span {
   display: block;
   margin-bottom: 5px;
 }
 
 .inputBox input,
 .inputBox select {
   width: 100%;
   padding: 10px;
   border: 1px solid #ccc;
   border-radius: 5px;
 }
 
 .btn {
   display: block;
   width: 100%;
   padding: 10px;
   text-align: center;
   background-color: #4caf50;
   color: #fff;
   border: none;
   border-radius: 5px;
   cursor: pointer;
   transition: background-color 0.3s ease;
 }
 
 .btn:hover {
   background-color: #45a049;
 }

 .order-message-container {
   background-color: #f9f9f9;
   border: 1px solid #ddd;
   border-radius: 5px;
   padding: 20px;
   margin-bottom: 20px;
}

.message-container {
   text-align: center;
}

.order-detail {
   margin-bottom: 10px;
}

.order-detail span {
   margin-right: 10px;
}

.customer-details p {
   margin-bottom: 5px;
}

.customer-details span {
   font-weight: bold;
}

.btn {
   display: inline-block;
   padding: 10px 20px;
   background-color: #4CAF50;
   color: white;
   text-decoration: none;
   border-radius: 5px;
   margin-right: 10px;
}

.btn:hover {
   background-color: #45a049;
}



.modal-overlay {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.5);
   z-index: 9999;
   display: flex;
   justify-content: center;
   align-items: center;
}

.modal-dialog {
   background-color: #f9f9f9;
   border: 1px solid #ddd;
   border-radius: 5px;
   padding: 20px;
   max-width: 500px;
   text-align: center;
}

.modal-dialog h3 {
   margin-top: 0;
}

.modal-dialog .order-detail {
   margin-bottom: 10px;
}

.modal-dialog .order-detail span {
   margin-right: 10px;
}

.modal-dialog .customer-details p {
   margin-bottom: 5px;
}

.modal-dialog .customer-details span {
   font-weight: bold;
}

.modal-dialog .btn {
   display: inline-block;
   padding: 10px 20px;
   background-color: #4CAF50;
   color: white;
   text-decoration: none;
   border-radius: 5px;
   margin-right: 10px;
}

.modal-dialog .btn:hover {
   background-color: #45a049;
}

 