h1 {
   text-align: center;
   margin: 20px 0;
}

.container {
   max-width: 1200px;
   margin: 0 auto;
   padding: 20px;
}

.message {
   position: fixed;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   background-color: #fff;
   padding: 10px 20px;
   border-radius: 5px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
   z-index: 9999;
 }

.message span {
   flex-grow: 1;
}

.message i {
   cursor: pointer;
}

.add-product-form {
   margin-bottom: 20px;
}

.box {
   width: 100%;
   padding: 10px;
   margin-bottom: 10px;
   border: 1px solid #ccc;
   border-radius: 4px;
   box-sizing: border-box;
}

.btn {
   background-color: #4CAF50;
   color: white;
   padding: 10px 20px;
   border: none;
   border-radius: 4px;
   cursor: pointer;
}

.display-product-cards {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
}

.card {
   width: 300px;
   padding: 10px;
   margin-bottom: 20px;
   border: 1px solid #ccc;
   border-radius: 4px;
   box-sizing: border-box;
}

.card img {
   width: 100%;
   height: auto;
   margin-bottom: 10px;
}

.card h4 {
   margin: 0;
   font-size: 18px;
   font-weight: bold;
}

.card p {
   margin: 5px 0;
   font-size: 16px;
}

.card-actions {
   display: flex;
   justify-content: space-between;
   margin-top: 10px;
}

.delete-btn,
.option-btn {
   color: white;
   padding: 5px 10px;
   border: none;
   border-radius: 4px;
   cursor: pointer;
}

.delete-btn {
   background-color: #f44336;
}

.option-btn {
   background-color: #2196F3;
}

.empty {
   text-align: center;
   font-size: 18px;
   color: #999;
   margin-bottom: 20px;
}

.edit-form-container {
   display: none;
   justify-content: center;
   align-items: center;
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.5);
   z-index: 999;
}

.edit-form-container form {
   background-color: white;
   padding: 20px;
   border-radius: 4px;
}

.edit-form-container img {
   width: 100%;
   height: auto;
   margin-bottom: 10px;
}

.pagination {
   display: flex;
   justify-content: center;
   margin-top: 20px;
}

.pagination a {
   display: inline-block;
   width: 30px;
   height: 30px;
   line-height: 30px;
   text-align: center;
   margin: 0 5px;
   background-color: #f2f2f2;
   color: #333;
   border-radius: 4px;
   cursor: pointer;
   text-decoration: none;
}

.pagination a.active {
   background-color: #4CAF50;
   color: white;
}

.pagination a.prev,
.pagination a.next {
   width: 40px;
   font-weight: bold;
}

.pagination a.prev:before {
   content: '\2190';
}

.pagination a.next:before {
   content: '\2192';
}
